{
  "presets": [
    ["react-app", { "runtime": "automatic" }]
  ],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": false,
        "displayName": true,
        "preprocess": false
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "ssr": false,
            "displayName": false,
            "preprocess": false,
            "minify": true,
            "transpileTemplateLiterals": false,
            "pure": false
          }
        ]
      ]
    }
  }
}